.header {
  height: 40%;
  text-align: end;
  background-color: var(--bg-color-1);
  color: var(--bg-color-3);
}

.history {
  height: 60%;
  line-height: 25px;
  overflow: auto;
  width: 100%;
}

.execution {
  height: 10%;
  padding-right: 10px;
  font-weight: 800;
}

.result {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 30%;
  padding-right: 10px;
  font-size: x-large;
  font-weight: 800;
}
