.app {
  --bg-color-1: #9db3ed;
  --bg-color-2: #f9f9f9;
  --bg-color-3: #0b1537;
  --bg-color-4: #636363;
}

.app[data-theme="dark"] {
  --bg-color-1: #2b4897;
  --bg-color-2: #08133b;
  --bg-color-3: #fbfcfc;
  --bg-color-4: #bbbcbc;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #2a6c84;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calculator {
  height: 60vh;
  width: 50vh;
  border-radius: 20px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 1.2);
  overflow: hidden;
}

.navbar {
  display: flex;
  border-bottom: 2px solid rgb(66, 65, 65);
  align-items: center;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 1.2);
  height: 10%;
  z-index: 1000;
  background-color: var(--bg-color-1);
}

.slidebar {
  margin: 10px;
  border-radius: 20px;
  width: 50px;
  height: 25px;
  /* background-color: transparent; */
  border: 1px solid black;
}

.btn {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: white;
  border: 1px soild white;
  transform: translate(1px, 0px);
}

.icon {
  width: 30px;
  height: 30px;
}

.main-section {
  height: 90%;
}

.custom-scroll::-webkit-scrollbar {
  height: 5px;
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.14);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
